<!-- MAIN -->
<div class="container input-container">
	<div class="row">
		<div class="col-md-4 col-md-offset-3">
			<div class="panel panel-primary">
				<ul class="list-group todo-list">
					<form id="todo-form">
						<input class="new-item" placeholder="Add a spell to cast" type="text" />
						<button type="submit" id="castSpell" class="btn btn-default">Add Spell</button><br><br>
					</form>
					<span class="todo-container">
					</span>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-3">
			<div class="panel panel-primary">
		        <div class="panel-heading">
		          <h3 class="panel-title"><strong>Spells successfully Cast</strong></h3>
				</div>
				<ul class="list-group todo-list">
					<span class="todo-container1">
					</span>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- FOOTER -->
<footer>
	<div class="container">
		<p class="muted credit">Copyright &copy; 2017 Enrico Bernardo</p>
	</div>
</footer>