<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<!-- <link rel='stylesheet' type="text/css" href='stylesheets/reset.css'> -->
	<link rel='stylesheet' type="text/css" href='stylesheets/style.css' />
  	<!-- Moment.js Reference -->
  	<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
  	<!-- Latest compiled and minified CSS & JS -->
	<!-- <link rel="stylesheet" href="css/styles.css" media="screen" title="no title"> -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body>
	 <!-- JUMBO -->
	<div class="jumbotron">
		<h1 class="animated zoomIn">{{title}}</h1>
		<p>Welcome to {{title}}! Enter your favorite spells to the list below and practice each one by "casting" them. When you successfully cast the spell, this application will mark them as completed.</p>
	    <!-- <p class="current-time text-center">Current Time: <span id="currentTime"></span></p> -->
	</div>
	{{{body}}}
	<!-- Custom Script -->
	<script src="js/view.js" type="text/javascript"></script>
</body>
</html>
